<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>数据报表</title>
    </head>
    <body>
        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        <div id="answer" style="height:400px;margin-top: 10px;"></div>
        <div id="articles" style="height:400px;margin-top: 10px;"></div>
        <div id="follower" style="height:400px;margin-top: 10px;"></div>

        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <!--<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>-->
        <!--<script th:src="@{/static/echarts.js}"></script>-->
        <script src="https://cdn.bootcss.com/echarts/3.7.2/echarts.min.js"></script>
        <!--<script th:src="@{/static/baseEcharts.js}"></script>-->
        <script th:src="@{/static/answerCountTop10Echarts.js}"></script>
        <script th:src="@{/static/articlesCountTop10Echarts.js}"></script>
        <script th:src="@{/static/followerCountTop10Echarts.js}"></script>
    </body>
</html>