<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/layout_v1 :: layout_v1(_,~{::link},~{::div},~{::script})">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="https://whitecode2016.github.io/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" href="https://whitecode2016.github.io/AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"/>

    <div class="content-wrapper">
        <section class="content-header">
            <h1 th:utext="#{common.manage.role.edit}"></h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> <span th:utext="#{common.manage.system}"></span></a></li>
                <li class="active" th:utext="#{common.manage.role.edit}"></li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title" th:utext="#{common.manage.role.edit}"></h3>
                        </div>
                        <form role="form" th:action="@{/role/edit}" method="post" id="editForm" >
                            <div class="box-body">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="hidden" name="roleId" th:value="${sysRole.roleId}"/>
                                        <label for="roleId" th:utext="#{system.role.roleId}"></label>
                                        <input type="text" class="form-control" disabled="disabled" th:placeholder="#{system.role.roleId}"
                                               id="roleId" name="roleId" th:value="${sysRole.roleId}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="roleName" th:utext="#{system.role.roleName}"></label>
                                        <input type="text" class="form-control" th:placeholder="#{system.role.roleName}"
                                               id="roleName" name="roleName" th:value="${sysRole.roleName}"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="enable" th:utext="#{system.role.enable}"></label>
                                        <select class="form-control" name="enable" id="enable" th:field="${sysRole.enable}">
                                            <option th:each="enable : ${allEnable}"
                                                    th:value="${enable.value}"
                                                    th:text="${enable.label}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="description" th:utext="#{system.role.description}"></label>
                                        <textarea rows="5" cols="10" class="form-control" th:placeholder="#{system.role.description}"
                                                  id="description" name="description" th:text="${sysRole.description}"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="button" class="btn btn-primary pull-right" id="btn_edit"><i class="fa fa-check"></i> <span th:utext="#{common.button.save}"></span></button>
                                <a type="button" class="btn btn-danger pull-right" style="margin-right: 10px;" th:href="@{/role/list}"><i class="fa fa-times"></i> <span th:utext="#{common.button.cancel}"></span></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="https://whitecode2016.github.io/AdminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://whitecode2016.github.io/AdminLTE/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                startDate: '-d',// 设置开始时间为当前日期
                format:'yyyy/mm/dd',
                language: 'zh-CN',
                todayHighlight:true,
                autoclose: true
            });

            $(document).delegate("#btn_edit", 'click',function () {
                var formData = new FormData($("#editForm")[0]);
                $.ajax({
                    url: "/role/edit",
                    type: "POST",
                    async: true,
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (data) {
                        if (data.code == 100) {
                            alert("编辑成功")
                        } else {
                            alert("编辑失败")
                        }
                    },
                    error: function (data) {
                        alert("请求异常")
                    }
                });
            });
        });


    </script>
</html>