<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whitecode.dao.mapper.SysUserMapper">
    <sql id="selectColumns">
        SELECT
            su.user_id,
            su.username,
            su.password,
            su.name,
            su.sex,
            su.date_of_birth,
            su.mail,
            su.secret_key,
            su.status,
            su.description,
            su.creator,
            su.create_date_time,
            su.modifier,
            su.modify_date_time
        FROM sys_user su
    </sql>
    <!-- 1、根据userId获取用户 -->
    <select id="getUserById" resultType="SysUser">
        <include refid="selectColumns" />
        WHERE su.user_id = #{userId}
    </select>

    <!-- 2、获取所有用户 -->
    <select id="getUsers" resultType="SysUser">
        <include refid="selectColumns" />
    </select>

    <!-- 3.根据条件查询用户信息 -->
    <select id="getUsersByCondition" resultType="SysUser">
        <include refid="selectColumns" />
        WHERE 1=1
        <if test="username != null and username != ''">
            <!--AND su.username like CONCAT('%', #{username}, '%')-->
            AND su.username = #{username}
        </if>
        <if test="status != null and status != ''">
            AND su.status = #{status}
        </if>
        ORDER BY su.create_date_time
    </select>

    <!-- 4.添加用户信息 -->
    <insert id="insertUser">
        INSERT INTO sys_user(user_id,username,password,name,sex,date_of_birth,mail,secret_key,status,description)
        VALUES (#{userId},#{username},#{password},#{name},#{sex},#{dateOfBirth},#{mail},#{secretKey},#{status},#{description})
    </insert>

    <!-- 5、更新用户信息-->
  <!--  <update id="updateUser">
        UPDATE sys_user
        <set>
            secret_key = #{secretKey}
        </set>
        WHERE user_id = #{userId}
    </update>-->

    <update id="updateUser">
        UPDATE sys_user
        <set>
            name = #{name},
            sex = #{sex},
            date_of_birth = #{dateOfBirth},
            mail = #{mail},
            secret_key = #{secretKey},
            status = #{status},
            description = #{description}
        </set>
        WHERE user_id = #{userId}
    </update>

    <!-- 6、删除用户信息 -->
    <delete id="deleteUser">
        DELETE FROM sys_user WHERE user_id = #{userId}
    </delete>
</mapper>