<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/layout_v1 :: layout_v1(_,~{::link},~{::div},~{::script})">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="https://whitecode2016.github.io/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" href="https://whitecode2016.github.io/AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"/>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>用户添加</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 系统管理</a></li>
                <li class="active">用户添加</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">用户添加</h3>
                        </div>
                        <form role="form" th:action="@{/api/user/}" method="post" id="addForm" enctype="multipart/form-data" >
                            <div class="box-body">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="username">账号</label>
                                        <input type="text" class="form-control" placeholder="账号" id="username" name="username"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">姓名</label>
                                        <input type="text" class="form-control" placeholder="姓名" id="name" name="name"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="mail">邮箱</label>
                                        <input type="text" class="form-control" placeholder="邮箱" id="mail" name="mail"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>用户是否可用</label>
                                        <select class="form-control" name="enabled" id="enabled">
                                            <option value="">--请选择--</option>
                                            <option value="1">是</option>
                                            <option value="0">否</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>分配角色</label>
                                        <select class="form-control" name="role.id" id="role.id">
                                            <option value="">--请选择--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="creator">创建人</label>
                                        <input type="text" class="form-control" placeholder="创建人" id="creator" name="creator"/>
                                    </div>
                                    <div class="form-group">
                                        <label>创建时间:</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right datepicker" placeholder="创建时间" id="creatorDateTime" name="creatorDateTime">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="remarks">备注</label>
                                        <textarea rows="5" cols="10" class="form-control" placeholder="请简单说明一下..." id="remarks" name="remarks"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="button" class="btn btn-primary pull-right" id="btn_add">保 存</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="https://whitecode2016.github.io/AdminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://whitecode2016.github.io/AdminLTE/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                startDate: '-d',// 设置开始时间为当前日期
                format:'yyyy-mm-dd',
                language: 'zh-CN',
                todayHighlight:true,
                autoclose: true
            });
        })
    </script>
</html>