<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/head :: head(~{::title}, ~{::link})">
        <title th:utext="#{common.register}"></title>
        <!-- iCheck -->
        <link rel="stylesheet" href=" https://whitecode2016.github.io/AdminLTE/plugins/iCheck/square/blue.css"/>
    </head>
    <body class="hold-transition register-page">
        <div class="register-box">
            <div class="register-logo">
                <a href="#"><b th:utext="#{common.register}"></b></a>
            </div>

            <div class="register-box-body">
                <p class="login-box-msg">Register a new membership</p>

                <form action="" method="post">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" th:placeholder="#{system.user.username}">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" th:placeholder="#{system.user.email}">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" th:placeholder="#{system.user.password}">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" th:placeholder="#{system.user.retype.password}">
                        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="checkbox icheck">
                                <label>
                                    <input type="checkbox"> I agree to the <a href="#">terms</a>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat" th:utext="#{common.register}"></button>
                        </div>
                    </div>
                </form>

                <div class="social-auth-links text-center">
                    <p>- 第三方登录 -</p>
                    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-github"></i> Github</a>
                    <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
                        Google+</a>
                </div>

                <a th:href="@{/login}" class="text-center">I already have a account</a>
            </div>
        </div>
    </body>
</html>